[Unit]
Description=Keycloak Identity and Access Management service
After=network.target

[Service]
Type=idle
Environment=JBOSS_HOME=/srv/keycloak JBOSS_LOG_DIR=/var/log/keycloak
User=keycloak
Group=keycloak
ExecStart=/srv/keycloak/bin/standalone.sh
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
